/* General styles */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
  }

  /* Header styles */
  header {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffa600 0%, #df000f 74%);
    color: white;
    text-align: center;
    padding: 20px;
    overflow: auto; /* to clear the float */
}

.logo-container {
    float: right;
    flex-basis: 40%;
}

.logo {
    height: 60px;
}

  h1 {
    font-size: 4em;
    margin: 0;
  }

  /* Main styles */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  /* Ad styles */
  .ad {
    width: 1000px;
    max-width: 800px;
    margin: 50px;
    text-align: center;
  }

  .surat{
    justify-content: center;
    text-align: center;
  }

  /* Course names styles */
  .course-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    font-family: fantasy;
  }

  .course-names-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    justify-items: center;
    font-family: fantasy;
    
  }

  .course-link {
    display: block;
    background-color: #b5e4fe;    
    color: #ff2687;
    padding: 20px 20px;
    border-radius: 80px;
    margin: 10px;
    text-decoration: none;
    font-size: 3.6em;
    transition: background-color 0.3s;
    width: 500px;
    height: 100px;
    text-align: center;
    animation: shadow-pulse 5s ease-in-out infinite;
  }
        /* Animation for the text shadow */
        @keyframes shadow-pulse {
    0% {
      text-shadow: 1px 1px 4px #ff4a4a;
    }
    25% {
      text-shadow: 3px 5px 7px #f5fd00;
    }
    50% {
      text-shadow: 7px 7px 10px #00ff15;
    }
    75% {
      text-shadow: 5px 3px 7px #6e67ff;
    }
    100% {
      text-shadow: 1px 1px 4px #ff4a4a;
    }
  }

  .course-link:hover {
    background-color: #270065;
  }
  h2 {
    font-size: 3em;
    text-align: center;
    margin: 20px;
    color: white;
  }
  section {
    background-color: #006b37;
  }


  /* Footer styles */
  footer {
    background-color: #42378f;
    background-image: linear-gradient(315deg, #df000f 0%, #ffa600 74%); 
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
  }

  @media only screen and (max-width: 768px) {
    main {
      flex-direction: column;
      align-items: center;
    }

    .course-names {
      flex-direction: column;
      align-items: center;
    }
  }
